.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #347ab4;
  position: relative;
  width: 100vw;
}
.logo {
  display: flex;
  font-size: x-large;
  width: 20px;
  height: 10px;
  position: absolute;
  left: 0;
  align-items: center;
  padding: 0 20px 0 20px;
}

ul {
  display: flex;

  list-style: none;
  gap: 20px;
  justify-content: center;
}
.links {
  text-decoration: none;
  color: #ffff;
}
